fastapi>=0.115.0
uvicorn>=0.30.0
pillow>=10.4.0
pandas>=2.2.0
openpyxl>=3.1.0
numpy>=1.26.0
scikit-learn>=1.5.0
python-multipart>=0.0.9
insightface>=0.7.3
onnxruntime>=1.15.0
hdbscan>=0.8.33
opencv-python-headless>=4.8.0
reportlab>=4.0.0
